/* write your override styles here */
#wall .tag-1 {
    display:none;
}
.tag-1 ~ div {
    display:none;
}
div#wall > div {
    display:none;
}
div[class="slick"] {
    display:none;
}
div div {
    display:none;
}
.parent > #tag-4 {
    display:none;
}
#wall > .parent > #tag-4 {
    display:none;
}
body > div#wall > div#tag-2 {
    display:none;
}
body > div#wall > div#tag-2 + div {
    display:none;
}
div#wall div#tag-3 {
    display:none;
}
body > div#wall > #tag-3.slick {
    display:none;
}